.menuContainer {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-around;
  overflow-y: auto;
  overflow-x: hidden;
  flex-wrap: wrap;
}

div.menuContainer {
  overflow: auto;
}

div.menuContainer button {
  display: inline-block;
  color: white;
  text-align: center;
  text-decoration: none;
  margin: 2px;
}


.foodCardContainer{
  margin-top: 10px;
}