.menuContainer {
  width: 100%;
    white-space: nowrap;
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
}



div.menuContainer div {
  display: inline-block;
  color: white;
  text-align: center;
  text-decoration: none;
  margin: 2px;
}


.foodCardContainer{
  margin-top: 10px;
}